In [1]:
import os

from dotenv import load_dotenv
from sqlalchemy import create_engine

In [2]:
load_dotenv()

DA_USER = os.getenv("DA_USER")
DA_PASSWORD = os.getenv("DA_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_NAME = os.getenv("DB_NAME")

connection_string = f"postgresql://{DA_USER}:{DA_PASSWORD}@{DB_HOST}/{DB_NAME}"
engine = create_engine(f"postgresql+psycopg2://{DA_USER}:{DA_PASSWORD}@{DB_HOST}/{DB_NAME}", connect_args={'options': '-csearch_path=raw'})

%reload_ext sql
%sql engine

%sql set search_path to raw;

Running query in 'postgresql+psycopg2://analyst_reader:***@localhost/recommender'

++
||
++
++

### Example query:

In [3]:
%%sql
SELECT * FROM titles LIMIT 5;

Running query in 'postgresql+psycopg2://analyst_reader:***@localhost/recommender'

5 rows affected.

+----------+-------------------------------------+-------+--------------+-------------------+---------+-----------------------+----------------------+---------+-----------+------------+------------+
|    id    |                title                |  type | release_year | age_certification | runtime |         genres        | production_countries | seasons |  imdb_id  | imdb_score | imdb_votes |
+----------+-------------------------------------+-------+--------------+-------------------+---------+-----------------------+----------------------+---------+-----------+------------+------------+
| ts300399 | Five Came Back: The Reference Films |  SHOW |     1945     |       TV-MA       |    48   |   ['documentation']   |        ['US']        |    1    |    None   |    None    |    None    |
| tm84618  |             Taxi Driver             | MOVIE |     1976     |         R         |   113   |   ['crime', 'drama']  |        ['US']        |   None  | tt0075314 |     8      |   795222   |
| tm127384 |   Monty Python and the Holy Grail   | MOVIE |     1975     |         PG        |    91   | ['comedy', 'fantasy'] |        ['GB']        |   None  | tt0071853 |     8      |   530877   |
| tm70993  |            Life of Brian            | MOVIE |     1979     |         R         |    94   |       ['comedy']      |        ['GB']        |   None  | tt0079470 |     8      |   392419   |
| tm190788 |             The Exorcist            | MOVIE |     1973     |         R         |   133   |       ['horror']      |        ['US']        |   None  | tt0070047 |     8      |   391942   |
+----------+-------------------------------------+-------+--------------+-------------------+---------+-----------------------+----------------------+---------+-----------+------------+------------+

### To save results:

In [4]:
result = %sql SELECT * FROM titles LIMIT 5;
df = result.DataFrame()
df

Running query in 'postgresql+psycopg2://analyst_reader:***@localhost/recommender'

5 rows affected.

,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,None,NaN,NaN
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.0,795222.0
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.0,530877.0
3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.0,391942.0

In [5]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?