In [3]:
import os
import re
from datetime import date
import ast

import pandas as pd
from dotenv import load_dotenv
from nameparser import HumanName
from sqlalchemy import create_engine, text

In [4]:
load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

connection_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@localhost/recommender"

%load_ext sql
%sql $connection_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Implementing new schema:

## Merging all dataframes into one, joining on title, year, score

Renaming some fields to match for the merge:

In [6]:
dfs = [credits_df, titles_df]
for df in dfs:
    df.rename(columns={'id':'content_id', 'imdb_score':'score'}, inplace=True)

NameError: name 'credits_df' is not defined

In [ ]:
merged_df = titles_df.merge(best_movies_df, 
                            on=['title', 'release_year', 'score'], 
                            how='left',
                            suffixes=('', '_best_movies'))\
                     .merge(best_shows_df,
                            on=['title', 'release_year', 'score'],
                            how='left',
                            suffixes=('', '_best_shows'))\
                     .merge(best_movies_yearly_df,
                            on=['title', 'release_year', 'score'],
                            how='left',
                            suffixes=('', '_best_movies_yearly'))\
                     .merge(best_shows_yearly_df,
                            on=['title', 'release_year', 'score'],
                            how='left',
                            suffixes=('', '_best_shows_yearly'))

merged_df.head(15)

,content_id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,...,number_of_votes_best_shows,duration_best_shows,number_of_seasons,main_genre_best_shows,main_production_best_shows,main_genre_best_movies_yearly,main_production_best_movies_yearly,number_of_seasons_best_shows_yearly,main_genre_best_shows_yearly,main_production_best_shows_yearly
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,...,NaN,NaN,NaN,NaN,NaN,crime,US,NaN,NaN,NaN
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,...,NaN,NaN,NaN,NaN,NaN,comedy,GB,NaN,NaN,NaN
3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,...,NaN,NaN,NaN,NaN,NaN,comedy,GB,NaN,NaN,NaN
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,...,NaN,NaN,NaN,NaN,NaN,horror,US,NaN,NaN,NaN
5,ts22164,Monty Python's Flying Circus,SHOW,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,...,72895.0,30.0,4.0,comedy,GB,NaN,NaN,4.0,comedy,GB
6,tm14873,Dirty Harry,MOVIE,1971,R,102,"['thriller', 'crime', 'action']",['US'],NaN,tt0066999,...,NaN,NaN,NaN,NaN,NaN,thriller,US,NaN,NaN,NaN
7,tm185072,My Fair Lady,MOVIE,1964,G,170,"['drama', 'music', 'romance', 'family']",['US'],NaN,tt0058385,...,NaN,NaN,NaN,NaN,NaN,drama,US,NaN,NaN,NaN
8,tm98978,The Blue Lagoon,MOVIE,1980,R,104,"['romance', 'drama']",['US'],NaN,tt0080453,...,NaN,NaN,NaN,NaN,NaN,romance,US,NaN,NaN,NaN
9,tm119281,Bonnie and Clyde,MOVIE,1967,R,110,"['drama', 'crime', 'action']",['US'],NaN,tt0061418,...,NaN,NaN,NaN,NaN,NaN,drama,US,NaN,NaN,NaN
10,tm67378,The Professionals,MOVIE,1966,PG-13,117,"['western', 'action', 'european']",['US'],NaN,tt0060862,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,tm44204,The Guns of Navarone,MOVIE,1961,NaN,158,"['war', 'action', 'drama']","['US', 'GB']",NaN,tt0054953,...,NaN,NaN,NaN,NaN,NaN,war,US,NaN,NaN,NaN
12,tm69778,Lupin the Third: The Castle of Cagliostro,MOVIE,1979,PG,100,"['comedy', 'animation', 'action', 'fantasy', '...",['JP'],NaN,tt0079833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,tm69997,Richard Pryor: Live in Concert,MOVIE,1979,R,78,"['comedy', 'documentation']",['US'],NaN,tt0079807,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,tm96649,The Long Riders,MOVIE,1980,R,99,"['western', 'crime']",['US'],NaN,tt0081071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dropping redundant columns from our new, very wide merged_df:

In [ ]:
merged_df.columns

Index(['content_id', 'title', 'type', 'release_year', 'age_certification',
       'runtime', 'genres', 'production_countries', 'seasons', 'imdb_id',
       'score', 'imdb_votes', 'number_of_votes', 'duration', 'main_genre',
       'main_production', 'number_of_votes_best_shows', 'duration_best_shows',
       'number_of_seasons', 'main_genre_best_shows',
       'main_production_best_shows', 'main_genre_best_movies_yearly',
       'main_production_best_movies_yearly',
       'number_of_seasons_best_shows_yearly', 'main_genre_best_shows_yearly',
       'main_production_best_shows_yearly'],
      dtype='object')

In [ ]:
merged_df.drop(columns=['number_of_votes_best_shows', 'duration_best_shows', 'number_of_seasons_best_shows_yearly', 'duration', 'number_of_votes'], inplace=True)
merged_df.columns

Index(['content_id', 'title', 'type', 'release_year', 'age_certification',
       'runtime', 'genres', 'production_countries', 'seasons', 'imdb_id',
       'score', 'imdb_votes', 'main_genre', 'main_production',
       'number_of_seasons', 'main_genre_best_shows',
       'main_production_best_shows', 'main_genre_best_movies_yearly',
       'main_production_best_movies_yearly', 'main_genre_best_shows_yearly',
       'main_production_best_shows_yearly'],
      dtype='object')

Setting main_genre equal to any field among other main_genre columns that is not null. This will default to the earliest encountered genre, and that is fine, the show is the same and the genre is the same, so it doesn't matter which one we choose.:

In [ ]:
mask1 = merged_df['main_genre'].isna() & merged_df['main_genre_best_shows'].notna()
merged_df.loc[mask1, 'main_genre'] = merged_df.loc[mask1, 'main_genre_best_shows']

mask2 = merged_df['main_genre'].isna() & merged_df['main_genre_best_movies_yearly'].notna()
merged_df.loc[mask2, 'main_genre'] = merged_df.loc[mask2, 'main_genre_best_movies_yearly']

mask3 = merged_df['main_genre'].isna() & merged_df['main_genre_best_shows_yearly'].notna()
merged_df.loc[mask3, 'main_genre'] = merged_df.loc[mask3, 'main_genre_best_shows_yearly']

In [ ]:
merged_df.drop(columns=['main_genre_best_shows', 'main_genre_best_movies_yearly', 'main_genre_best_shows_yearly'], inplace=True)

Setting main_production equal to any field among other main_production columns that is not null.:

In [ ]:
mask1 = merged_df['main_production'].isna() & merged_df['main_production_best_shows'].notna()
merged_df.loc[mask1, 'main_production'] = merged_df.loc[mask1, 'main_production_best_shows']

mask2 = merged_df['main_production'].isna() & merged_df['main_production_best_movies_yearly'].notna()
merged_df.loc[mask2, 'main_production'] = merged_df.loc[mask2, 'main_production_best_movies_yearly']

mask3 = merged_df['main_production'].isna() & merged_df['main_production_best_shows_yearly'].notna()
merged_df.loc[mask3, 'main_production'] = merged_df.loc[mask3, 'main_production_best_shows_yearly']

In [ ]:
merged_df.drop(columns=['main_production_best_shows', 'main_production_best_movies_yearly', 'main_production_best_shows_yearly'], inplace=True)

In [ ]:
merged_df.shape

(5806, 15)

In [ ]:
merged_df.columns

Index(['content_id', 'title', 'type', 'release_year', 'age_certification',
       'runtime', 'genres', 'production_countries', 'seasons', 'imdb_id',
       'score', 'imdb_votes', 'main_genre', 'main_production',
       'number_of_seasons'],
      dtype='object')

In [ ]:
merged_df.head()

,content_id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,score,imdb_votes,main_genre,main_production,number_of_seasons
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,crime,US,NaN
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,comedy,GB,NaN
3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,comedy,GB,NaN
4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,horror,US,NaN

## Creating title_df (per new schema):

In [ ]:
def create_title_df(df):
    title_df = df[['content_id', 'title', 'release_year', 'type', 'age_certification', 'runtime', 'number_of_seasons', 'imdb_id', 'score', 'imdb_votes']].copy()
    title_df.rename(columns={'score': 'imdb_score'}, inplace=True)
    title_df['is_best_year'] = False 
    title_df['is_all_time_best'] = False
    condition1 = title_df['title'].isin(best_movies_yearly_df['title']) | title_df['title'].isin(best_shows_yearly_df['title'])
    title_df['is_best_year'].loc[condition1] = True
    condition2 = title_df['title'].isin(best_movies_df['title']) | title_df['title'].isin(best_shows_df['title'])
    title_df['is_all_time_best'].loc[condition2] = True
    title_df = title_df.applymap(lambda r: r.strip() if isinstance(r, str) else r)
    return title_df

title_df = create_title_df(merged_df)

/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_1988/2807444018.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title_df['is_best_year'].loc[condition1] = True
/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_1988/2807444018.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title_df['is_all_time_best'].loc[condition2] = True

In [ ]:
title_df.head(50)

,content_id,title,release_year,type,age_certification,runtime,number_of_seasons,imdb_id,imdb_score,imdb_votes,is_best_year,is_all_time_best
0,ts300399,Five Came Back: The Reference Films,1945,SHOW,TV-MA,48,NaN,NaN,NaN,NaN,False,False
1,tm84618,Taxi Driver,1976,MOVIE,R,113,NaN,tt0075314,8.3,795222.0,True,True
2,tm127384,Monty Python and the Holy Grail,1975,MOVIE,PG,91,NaN,tt0071853,8.2,530877.0,True,True
3,tm70993,Life of Brian,1979,MOVIE,R,94,NaN,tt0079470,8.0,392419.0,True,True
4,tm190788,The Exorcist,1973,MOVIE,R,133,NaN,tt0070047,8.1,391942.0,True,True
5,ts22164,Monty Python's Flying Circus,1969,SHOW,TV-14,30,4.0,tt0063929,8.8,72895.0,True,True
6,tm14873,Dirty Harry,1971,MOVIE,R,102,NaN,tt0066999,7.7,153463.0,True,True
7,tm185072,My Fair Lady,1964,MOVIE,G,170,NaN,tt0058385,7.8,94121.0,True,True
8,tm98978,The Blue Lagoon,1980,MOVIE,R,104,NaN,tt0080453,5.8,69053.0,True,False
9,tm119281,Bonnie and Clyde,1967,MOVIE,R,110,NaN,tt0061418,7.7,111189.0,True,True
10,tm67378,The Professionals,1966,MOVIE,PG-13,117,NaN,tt0060862,7.3,16168.0,False,True
11,tm44204,The Guns of Navarone,1961,MOVIE,NaN,158,NaN,tt0054953,7.5,50150.0,True,True
12,tm69778,Lupin the Third: The Castle of Cagliostro,1979,MOVIE,PG,100,NaN,tt0079833,7.6,30277.0,False,True
13,tm69997,Richard Pryor: Live in Concert,1979,MOVIE,R,78,NaN,tt0079807,8.1,5141.0,False,False
14,tm96649,The Long Riders,1980,MOVIE,R,99,NaN,tt0081071,6.9,11329.0,False,True
15,tm16479,White Christmas,1954,MOVIE,NaN,115,NaN,tt0047673,7.5,42373.0,True,True
16,tm135083,Cairo Station,1958,MOVIE,NaN,77,NaN,tt0051390,7.5,4385.0,False,False
17,tm14491,The Queen,1968,MOVIE,NaN,68,NaN,tt0183686,7.2,1117.0,False,False
18,tm89386,Hitler: A Career,1977,MOVIE,PG,150,NaN,tt0191182,7.5,2416.0,False,False
19,tm156453,FTA,1972,MOVIE,R,97,NaN,tt0068562,6.2,411.0,False,False
20,tm27298,Saladin the Victorious,1963,MOVIE,NaN,186,NaN,tt0057357,7.6,2470.0,False,False
21,tm356209,Singapore,1960,MOVIE,NaN,158,NaN,tt0268639,6.4,82.0,False,False
22,tm204541,Dark Waters,1956,MOVIE,NaN,120,NaN,tt0049761,6.7,590.0,False,False
23,tm14350,Alexandria… Why?,1979,MOVIE,NaN,133,NaN,tt0077751,7.2,1689.0,False,False
24,tm102287,Raya and Sakina,1953,MOVIE,NaN,105,NaN,tt0316472,6.8,231.0,False,False
25,tm76557,No Longer Kids,1979,MOVIE,NaN,235,NaN,tt8312792,9.0,943.0,False,False
26,tm71909,Amrapali,1966,MOVIE,NaN,120,NaN,tt0060104,6.7,225.0,False,False
27,tm94651,Dostana,1980,MOVIE,NaN,161,NaN,tt0080653,2.1,25.0,False,False
28,tm19608,The Blazing Sun,1954,MOVIE,NaN,100,NaN,tt0044429,7.4,1219.0,False,False
29,ts45948,Monty Python's Fliegender Zirkus,1972,SHOW,TV-MA,43,NaN,tt0202477,8.1,2144.0,False,False
30,tm90896,The Return of the Prodigal Son,1976,MOVIE,NaN,124,NaN,tt0074168,7.2,768.0,False,False
31,tm75975,Prince,1969,MOVIE,NaN,152,NaN,tt0064842,6.9,168.0,False,False
32,tm97793,Lock Your Girls In,1980,MOVIE,NaN,230,NaN,NaN,NaN,NaN,False,False
33,tm85426,The Witness Who Didn't See Anything,1976,MOVIE,NaN,217,NaN,NaN,NaN,NaN,False,False
34,tm188894,The School of Mischief,1973,MOVIE,NaN,251,NaN,NaN,NaN,NaN,False,False
35,tm107372,Manoranjan,1974,MOVIE,NaN,162,NaN,tt0071811,6.5,236.0,False,False
36,tm200475,"Beirut, Oh Beirut",1975,MOVIE,NaN,110,NaN,tt0169599,6.5,106.0,False,False
37,tm259855,We Are All for the Fatherland,1979,MOVIE,NaN,74,NaN,tt0170799,6.2,43.0,False,False
38,tm259684,Whispers,1980,MOVIE,NaN,93,NaN,tt0170803,7.8,75.0,False,False
39,tm344089,Lal Patthar,1971,MOVIE,NaN,153,NaN,tt0237395,6.2,137.0,False,False
40,tm358653,Ujala,1959,MOVIE,NaN,142,NaN,tt0157132,6.7,78.0,False,False
41,tm100027,Alibaba Aur 40 Chor,1979,MOVIE,NaN,138,NaN,tt0079749,6.2,555.0,False,False
42,tm10204,Professor,1962,MOVIE,NaN,163,NaN,tt0056379,6.8,285.0,False,False
43,tm403346,Chadi Jawani Budhe Nu,1976,MOVIE,NaN,135,NaN,tt3290368,4.6,14.0,False,False
44,tm16812,Bandie,1978,MOVIE,NaN,141,NaN,tt1219315,4.2,35.0,False,False
45,tm336403,Khoon Khoon,1973,MOVIE,NaN,131,NaN,tt0230412,5.1,41.0,False,False
46,tm119776,Top Gun,1986,MOVIE,PG,110,NaN,tt0092099,6.9,329656.0,False,True
47,ts20681,Seinfeld,1989,SHOW,TV-PG,24,9.0,tt0098904,8.9,302700.0,True,True
48,tm111075,Stand by Me,1986,MOVIE,R,89,NaN,tt0092005,8.1,392790.0,True,True
49,tm180542,Once Upon a Time in America,1984,MOVIE,R,229,NaN,tt0087843,8.3,342335.0,True,True

## Creating genres df:

In [ ]:
def create_genres_df(merged_df):
    genre_df = merged_df[['content_id', 'genres', 'main_genre']].copy()
    genre_df['genres'] = genre_df['genres'].apply(lambda genres: ast.literal_eval(genres))
    genre_df = genre_df.explode('genres')
    genre_df['genres'] = genre_df['genres'].str.strip()
    genre_df.drop_duplicates(inplace=True)
    genre_df['is_main_genre'] = False
    genre_df['is_main_genre'].loc[genre_df['genres'] == genre_df['main_genre']] = True
    genre_df.drop(columns='main_genre', inplace=True)
    return genre_df

genre_df = create_genres_df(merged_df)

/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_1988/417169443.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre_df['is_main_genre'].loc[genre_df['genres'] == genre_df['main_genre']] = True

In [ ]:
merged_df.columns

Index(['content_id', 'title', 'type', 'release_year', 'age_certification',
       'runtime', 'genres', 'production_countries', 'seasons', 'imdb_id',
       'score', 'imdb_votes', 'main_genre', 'main_production',
       'number_of_seasons'],
      dtype='object')

In [ ]:
def create_prod_country_df(merged_df):
    prod_country_df = merged_df[['content_id', 'production_countries', 'main_production']].copy()
    prod_country_df.rename(columns={'production_countries': 'country'}, inplace=True)
    prod_country_df['country'] = prod_country_df['country'].apply(lambda countries: ast.literal_eval(countries))
    prod_country_df = prod_country_df.explode('country')
    prod_country_df['country'] = prod_country_df['country'].str.strip()
    prod_country_df.drop_duplicates(inplace=True)
    prod_country_df['is_main_production'] = False
    prod_country_df['is_main_production'].loc[prod_country_df['country'] == prod_country_df['main_production']] = True
    prod_country_df.drop(columns='main_production', inplace=True)
    condition = prod_country_df.duplicated(subset=['content_id'])
    prod_country_df['is_main_production'].loc[~condition] = True
    prod_country_df.loc[pd.isna(prod_country_df['country']), 'is_main_production'] = None
    return prod_country_df

prod_country_df = create_prod_country_df(merged_df)

/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_1988/2233495209.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_country_df['is_main_production'].loc[prod_country_df['country'] == prod_country_df['main_production']] = True
/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_1988/2233495209.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_country_df['is_main_production'].loc[~condition] = True

In [ ]:
prod_country_df.head(50)

   content_id country is_main_production
0    ts300399      US               True
1     tm84618      US               True
2    tm127384      GB               True
3     tm70993      GB               True
4    tm190788      US               True
5     ts22164      GB               True
6     tm14873      US               True
7    tm185072      US               True
8     tm98978      US               True
9    tm119281      US               True
10    tm67378      US               True
11    tm44204      US               True
11    tm44204      GB              False
12    tm69778      JP               True
13    tm69997      US               True
14    tm96649      US               True
15    tm16479      US               True
16   tm135083      EG               True
17    tm14491      US               True
18    tm89386      DE               True
19   tm156453      US               True
20    tm27298      EG               True
21   tm356209      IN               True
22   tm204541      EG               True
23    tm14350      EG               True
24   tm102287      EG               True
25    tm76557      EG               True
26    tm71909      IN               True
27    tm94651      IN               True
28    tm19608      EG               True
29    ts45948     NaN                NaN
30    tm90896      DZ               True
30    tm90896      EG              False
31    tm75975      IN               True
32    tm97793      EG               True
33    tm85426      EG               True
34   tm188894      EG               True
35   tm107372      IN               True
36   tm200475      LB               True
37   tm259855      FR               True
37   tm259855      LB              False
37   tm259855      CA              False
38   tm259684      FR               True
38   tm259684      LB              False
38   tm259684      CA              False
39   tm344089      IN               True
40   tm358653      IN               True
41   tm100027      IN               True
41   tm100027      SU              False
42    tm10204      IN               True

## Splitting names in credits df:

In [ ]:
credits_df.head()

   person_id content_id             name                character   role
0       3748    tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658    tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064    tm84618    Albert Brooks                      Tom  ACTOR
3       3739    tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933    tm84618  Cybill Shepherd                    Betsy  ACTOR

In [ ]:
def split_credits_names(credits_df):
    credits_df['name_obj'] = credits_df['name'].apply(lambda name: HumanName(name))
    credits_df['first_name'] = credits_df['name_obj'].apply(lambda name: name.first if name else None)
    credits_df['middle_name'] = credits_df['name_obj'].apply(lambda name: name.middle if name else None)
    credits_df['last_name'] = credits_df['name_obj'].apply(lambda name: name.last if name else None)
    
    credits_df.drop(columns=['name', 'name_obj'], inplace=True)
    return credits_df

credits_df = split_credits_names(credits_df)

In [ ]:
credits_df.head(50)

,person_id,content_id,character,role,first_name,middle_name,last_name
0,3748,tm84618,Travis Bickle,ACTOR,Robert,,De Niro
1,14658,tm84618,Iris Steensma,ACTOR,Jodie,,Foster
2,7064,tm84618,Tom,ACTOR,Albert,,Brooks
3,3739,tm84618,Matthew 'Sport' Higgins,ACTOR,Harvey,,Keitel
4,48933,tm84618,Betsy,ACTOR,Cybill,,Shepherd
5,32267,tm84618,Wizard,ACTOR,Peter,,Boyle
6,519612,tm84618,Senator Charles Palantine,ACTOR,Leonard,,Harris
7,29068,tm84618,Concession Girl,ACTOR,Diahnne,,Abbott
8,519613,tm84618,Policeman at Rally,ACTOR,Gino,,Ardito
9,3308,tm84618,Passenger Watching Silhouette,ACTOR,Martin,,Scorsese
10,43791,tm84618,Iris' Time Keeper,ACTOR,Murray,,Moston
11,519614,tm84618,Secret Service Agent,ACTOR,Richard,,Higgs
12,519615,tm84618,Tom's Assistant (uncredited),ACTOR,Bill,,Minkin
13,82426,tm84618,Mafioso (uncredited),ACTOR,Bob,,Maroff
14,20935,tm84618,"Melio, Delicatessen Owner",ACTOR,Victor,,Argo
15,7753,tm84618,Personell Officer,ACTOR,Joe,,Spinell
16,43279,tm84618,Angry Black Man (uncredited),ACTOR,Robinson,Frank,Adu
17,519616,tm84618,Soap Opera Woman (uncredited),ACTOR,Brenda,,Dickson
18,8424,tm84618,Charlie T,ACTOR,Norman,,Matlock
19,20447,tm84618,Doughboy,ACTOR,Harry,,Northup
20,519618,tm84618,Campaign Worker (uncredited),ACTOR,Harlan,Cary,Poe
21,49567,tm84618,Andy - Gun Salesman,ACTOR,Steven,,Prince
22,15551,tm84618,The John,ACTOR,Peter,,Savage
23,475303,tm84618,Palantine's Aide (uncredited),ACTOR,Nicholas,,Shields
24,43540,tm84618,T.V. Interviewer (uncredited),ACTOR,Ralph,S.,Singleton
25,466061,tm84618,Campaign Worker (uncredited),ACTOR,Annie,,Gagen
26,212023,tm84618,Political rallier (uncredited),ACTOR,Carson,,Grant
27,5367,tm84618,Campaign Aide (uncredited),ACTOR,Mary-Pat,,Green
28,17421,tm84618,Girl at Columbus Circle (uncredited),ACTOR,Debbi,,Morgan
29,38141,tm84618,Policeman (uncredited),ACTOR,Don,,Stroud
30,811415,tm84618,Hooker in Cab,ACTOR,Copper,,Cunningham
31,1141852,tm84618,Iris' friend,ACTOR,Garth,,Avery
32,1662310,tm84618,Stick-aup Man,ACTOR,Nat,,Grant
33,1393387,tm84618,Iris' Friend (uncredited),ACTOR,Billie,,Perkins
34,9446,tm84618,Iris' Mother (newspaper article) (uncredited),ACTOR,Catherine,,Scorsese
35,9451,tm84618,Iris' Father (newspaper article) (uncredited),ACTOR,Charles,,Scorsese
36,3308,tm84618,NaN,DIRECTOR,Martin,,Scorsese
37,11472,tm127384,King Arthur / Voice of God / Middle Head / Hic...,ACTOR,Graham,,Chapman
38,1549,tm127384,Second Swallow-Savvy Guard / The Black Knight ...,ACTOR,John,,Cleese
39,11474,tm127384,Dead Collector / Peasant 1 / Sir Robin the Not...,ACTOR,Eric,,Idle
40,11473,tm127384,Patsy / Green Knight / Old Man from Scene 24 (...,ACTOR,Terry,,Gilliam
41,11475,tm127384,Dennis's Mother / Sir Bedevere / Left Head / P...,ACTOR,Terry,,Jones
42,11476,tm127384,First Swallow-Savvy Guard / Dennis / Peasant 2...,ACTOR,Michael,,Palin
43,40898,tm127384,The Witch,ACTOR,Connie,,Booth
44,11478,tm127384,Zoot / Dingo,ACTOR,Carol,,Cleveland
45,11482,tm127384,First Monk / Singing Minstrel / Page Crushed b...,ACTOR,Neil,,Innes
46,40899,tm127384,Old Crone,ACTOR,Bee,,Duffell
47,11481,tm127384,Dead Body / Historian Frank,ACTOR,John,,Young
48,40900,tm127384,Historian's Wife,ACTOR,Rita,,Davies
49,40901,tm127384,Dr. Piglet,ACTOR,Avril,,Stewart

In [ ]:
%%sql
DROP TABLE IF EXISTS titles CASCADE;
CREATE TABLE titles (
    title_id varchar(15) PRIMARY KEY,
    title varchar(200),
    content_type varchar(5) NOT NULL CHECK (content_type IN('movie', 'MOVIE', 'show', 'SHOW')),
    release_year smallint,
    age_certification varchar(10),
    runtime varchar(6),
    num_seasons smallint,
    imdb_id varchar(15),
    imdb_score real,
    imdb_num_votes bigint
);