In [305]:
import os
import re
from datetime import date
import ast

import pandas as pd
from dotenv import load_dotenv
from nameparser import HumanName
from sqlalchemy import create_engine, text

In [306]:
load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_NAME = os.getenv("DB_NAME")

connection_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}"
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}", connect_args={'options': '-csearch_path=relational'})

%reload_ext sql
%sql engine

Loading csvs into dfs:

In [307]:
best_shows_df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/recommender_db/data/best_shows.csv')
best_movies_df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/recommender_db/data/Best_Movies.csv')
best_movies_yearly_df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/recommender_db/data/Best_Movie_Yearly.csv')
best_shows_yearly_df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/recommender_db/data/Best_Show_Yearly.csv')
credits_df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/recommender_db/data/raw_credits.csv')
titles_df = pd.read_csv('/Users/bfaris96/Desktop/turing-proj/recommender_db/data/raw_titles.csv')

# Implementing new schema:

## Merging all dataframes into one, joining on title, year, score

Renaming some fields to match for the merge, making all lowercase:

In [308]:
dfs = [credits_df, titles_df]
for df in dfs:
    df.rename(columns={'id':'content_id', 'imdb_score':'score'}, inplace=True)

all_dfs = [best_shows_df, best_movies_df, best_movies_yearly_df, best_shows_yearly_df, credits_df, titles_df]
for df in all_dfs:
    df.rename(columns=lambda x: x.lower(), inplace=True)

In [309]:
best_movies_df.columns

Index(['index', 'title', 'release_year', 'score', 'number_of_votes',
       'duration', 'main_genre', 'main_production'],
      dtype='object')

In [310]:
merged_df = titles_df.merge(best_movies_df, 
                            on=['title', 'release_year', 'score'], 
                            how='left',
                            suffixes=('', '_best_movies'))\
                     .merge(best_shows_df,
                            on=['title', 'release_year', 'score'],
                            how='left',
                            suffixes=('', '_best_shows'))\
                     .merge(best_movies_yearly_df,
                            on=['title', 'release_year', 'score'],
                            how='left',
                            suffixes=('', '_best_movies_yearly'))\
                     .merge(best_shows_yearly_df,
                            on=['title', 'release_year', 'score'],
                            how='left',
                            suffixes=('', '_best_shows_yearly'))

merged_df.head(5)

,index,content_id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,...,number_of_seasons,main_genre_best_shows,main_production_best_shows,index_best_movies_yearly,main_genre_best_movies_yearly,main_production_best_movies_yearly,index_best_shows_yearly,number_of_seasons_best_shows_yearly,main_genre_best_shows_yearly,main_production_best_shows_yearly
0,0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,...,NaN,NaN,NaN,7.0,crime,US,NaN,NaN,NaN,NaN
2,2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,...,NaN,NaN,NaN,6.0,comedy,GB,NaN,NaN,NaN,NaN
3,3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,...,NaN,NaN,NaN,8.0,comedy,GB,NaN,NaN,NaN,NaN
4,4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,...,NaN,NaN,NaN,5.0,horror,US,NaN,NaN,NaN,NaN

Dropping redundant columns from our new, very wide merged_df:

In [311]:
merged_df.columns

Index(['index', 'content_id', 'title', 'type', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'score', 'imdb_votes', 'index_best_movies',
       'number_of_votes', 'duration', 'main_genre', 'main_production',
       'index_best_shows', 'number_of_votes_best_shows', 'duration_best_shows',
       'number_of_seasons', 'main_genre_best_shows',
       'main_production_best_shows', 'index_best_movies_yearly',
       'main_genre_best_movies_yearly', 'main_production_best_movies_yearly',
       'index_best_shows_yearly', 'number_of_seasons_best_shows_yearly',
       'main_genre_best_shows_yearly', 'main_production_best_shows_yearly'],
      dtype='object')

In [312]:
merged_df.drop(columns=['number_of_votes_best_shows', 'duration_best_shows', 'number_of_seasons_best_shows_yearly', 'duration', 'number_of_votes'], inplace=True)
merged_df.columns

Index(['index', 'content_id', 'title', 'type', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'score', 'imdb_votes', 'index_best_movies',
       'main_genre', 'main_production', 'index_best_shows',
       'number_of_seasons', 'main_genre_best_shows',
       'main_production_best_shows', 'index_best_movies_yearly',
       'main_genre_best_movies_yearly', 'main_production_best_movies_yearly',
       'index_best_shows_yearly', 'main_genre_best_shows_yearly',
       'main_production_best_shows_yearly'],
      dtype='object')

Setting main_genre equal to any field among other main_genre columns that is not null. This will default to the earliest encountered genre, and that is fine, the show is the same and the genre is the same, so it doesn't matter which one we choose.:

In [313]:
mask1 = merged_df['main_genre'].isna() & merged_df['main_genre_best_shows'].notna()
merged_df.loc[mask1, 'main_genre'] = merged_df.loc[mask1, 'main_genre_best_shows']

mask2 = merged_df['main_genre'].isna() & merged_df['main_genre_best_movies_yearly'].notna()
merged_df.loc[mask2, 'main_genre'] = merged_df.loc[mask2, 'main_genre_best_movies_yearly']

mask3 = merged_df['main_genre'].isna() & merged_df['main_genre_best_shows_yearly'].notna()
merged_df.loc[mask3, 'main_genre'] = merged_df.loc[mask3, 'main_genre_best_shows_yearly']

In [314]:
merged_df.drop(columns=['main_genre_best_shows', 'main_genre_best_movies_yearly', 'main_genre_best_shows_yearly'], inplace=True)

Setting main_production equal to any field among other main_production columns that is not null.:

In [315]:
mask1 = merged_df['main_production'].isna() & merged_df['main_production_best_shows'].notna()
merged_df.loc[mask1, 'main_production'] = merged_df.loc[mask1, 'main_production_best_shows']

mask2 = merged_df['main_production'].isna() & merged_df['main_production_best_movies_yearly'].notna()
merged_df.loc[mask2, 'main_production'] = merged_df.loc[mask2, 'main_production_best_movies_yearly']

mask3 = merged_df['main_production'].isna() & merged_df['main_production_best_shows_yearly'].notna()
merged_df.loc[mask3, 'main_production'] = merged_df.loc[mask3, 'main_production_best_shows_yearly']

In [316]:
merged_df.drop(columns=['main_production_best_shows', 'main_production_best_movies_yearly', 'main_production_best_shows_yearly'], inplace=True)

In [317]:
merged_df.shape

(5806, 20)

In [318]:
merged_df.columns

Index(['index', 'content_id', 'title', 'type', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'score', 'imdb_votes', 'index_best_movies',
       'main_genre', 'main_production', 'index_best_shows',
       'number_of_seasons', 'index_best_movies_yearly',
       'index_best_shows_yearly'],
      dtype='object')

In [319]:
merged_df.head()

,index,content_id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,score,imdb_votes,index_best_movies,main_genre,main_production,index_best_shows,number_of_seasons,index_best_movies_yearly,index_best_shows_yearly
0,0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,16.0,crime,US,NaN,NaN,7.0,NaN
2,2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,28.0,comedy,GB,NaN,NaN,6.0,NaN
3,3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,72.0,comedy,GB,NaN,NaN,8.0,NaN
4,4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,56.0,horror,US,NaN,NaN,5.0,NaN

## Creating title_df (per new schema):

In [320]:
def create_title_df(df):
    title_df = df[['content_id', 'title', 'release_year', 'type', 'age_certification', 'runtime', 'number_of_seasons', 'imdb_id', 'score', 'imdb_votes']].copy()
    title_df.rename(columns={'score': 'imdb_score'}, inplace=True)
    title_df['is_year_best'] = False 
    title_df['is_all_time_best'] = False
    condition1 = title_df['title'].isin(best_movies_yearly_df['title']) | title_df['title'].isin(best_shows_yearly_df['title'])
    title_df['is_year_best'].loc[condition1] = True
    condition2 = title_df['title'].isin(best_movies_df['title']) | title_df['title'].isin(best_shows_df['title'])
    title_df['is_all_time_best'].loc[condition2] = True
    title_df = title_df.applymap(lambda r: r.strip() if isinstance(r, str) else r)
    title_df.rename(columns={'type': 'content_type'}, inplace=True)
    return title_df

title_df = create_title_df(merged_df)

/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_55197/2014636091.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title_df['is_year_best'].loc[condition1] = True
/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_55197/2014636091.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  title_df['is_all_time_best'].loc[condition2] = True

In [321]:
def adding_bools(title_df):
    title_df['is_year_best'] = False
    title_df['is_all_time_best'] = False
    condition1 = title_df['title'].isin(best_movies_yearly_df['title']) | title_df['title'].isin(best_shows_yearly_df['title'])
    title_df['is_year_best'].loc[condition1] = True
    condition2 = title_df['title'].isin(best_movies_df['title']) | title_df['title'].isin(best_shows_df['title'])
    title_df['is_all_time_best'].loc[condition2] = True
    return title_df

In [322]:
title_df.head(10)

,content_id,title,release_year,content_type,age_certification,runtime,number_of_seasons,imdb_id,imdb_score,imdb_votes,is_year_best,is_all_time_best
0,ts300399,Five Came Back: The Reference Films,1945,SHOW,TV-MA,48,NaN,NaN,NaN,NaN,False,False
1,tm84618,Taxi Driver,1976,MOVIE,R,113,NaN,tt0075314,8.3,795222.0,True,True
2,tm127384,Monty Python and the Holy Grail,1975,MOVIE,PG,91,NaN,tt0071853,8.2,530877.0,True,True
3,tm70993,Life of Brian,1979,MOVIE,R,94,NaN,tt0079470,8.0,392419.0,True,True
4,tm190788,The Exorcist,1973,MOVIE,R,133,NaN,tt0070047,8.1,391942.0,True,True
5,ts22164,Monty Python's Flying Circus,1969,SHOW,TV-14,30,4.0,tt0063929,8.8,72895.0,True,True
6,tm14873,Dirty Harry,1971,MOVIE,R,102,NaN,tt0066999,7.7,153463.0,True,True
7,tm185072,My Fair Lady,1964,MOVIE,G,170,NaN,tt0058385,7.8,94121.0,True,True
8,tm98978,The Blue Lagoon,1980,MOVIE,R,104,NaN,tt0080453,5.8,69053.0,True,False
9,tm119281,Bonnie and Clyde,1967,MOVIE,R,110,NaN,tt0061418,7.7,111189.0,True,True

## Creating genres df:

In [323]:
def create_genres_df(merged_df):
    genres_df = merged_df[['content_id', 'genres', 'main_genre']].copy()
    genres_df['genres'] = genres_df['genres'].apply(lambda genres: ast.literal_eval(genres))
    genres_df = genres_df.explode('genres')
    genres_df['genres'] = genres_df['genres'].str.strip()
    genres_df.drop_duplicates(inplace=True)
    genres_df['is_main_genre'] = False
    genres_df['is_main_genre'].loc[genres_df['genres'] == genres_df['main_genre']] = True
    genres_df.drop(columns='main_genre', inplace=True)
    genres_df.rename(columns={'genres': 'genre'}, inplace=True)
    genres_df.dropna(subset=['genre'], inplace=True)
    return genres_df

genres_df = create_genres_df(merged_df)

/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_55197/1121523669.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres_df['is_main_genre'].loc[genres_df['genres'] == genres_df['main_genre']] = True

In [324]:
merged_df.columns

Index(['index', 'content_id', 'title', 'type', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'score', 'imdb_votes', 'index_best_movies',
       'main_genre', 'main_production', 'index_best_shows',
       'number_of_seasons', 'index_best_movies_yearly',
       'index_best_shows_yearly'],
      dtype='object')

## Creating prod_countries df:

In [325]:
def create_prod_countries_df(merged_df):
    prod_countries_df = merged_df[['content_id', 'production_countries', 'main_production']].copy()
    prod_countries_df.rename(columns={'production_countries': 'country'}, inplace=True)
    prod_countries_df['country'] = prod_countries_df['country'].apply(lambda countries: ast.literal_eval(countries))
    prod_countries_df = prod_countries_df.explode('country')
    prod_countries_df['country'] = prod_countries_df['country'].str.strip()
    prod_countries_df.drop_duplicates(inplace=True)
    prod_countries_df['is_main_country'] = False
    prod_countries_df['is_main_country'].loc[prod_countries_df['country'] == prod_countries_df['main_production']] = True
    prod_countries_df.drop(columns='main_production', inplace=True)
    condition = prod_countries_df.duplicated(subset=['content_id'])
    prod_countries_df['is_main_country'].loc[~condition] = True
    # prod_countries_df.loc[pd.isna(prod_countries_df['country']), 'is_main_country'] = None
    prod_countries_df.dropna(subset=['country'], inplace=True)
    return prod_countries_df

prod_countries_df = create_prod_countries_df(merged_df)

/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_55197/3162268349.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_countries_df['is_main_country'].loc[prod_countries_df['country'] == prod_countries_df['main_production']] = True
/var/folders/5z/mztd4xyx4639f9nm6dyjxkpm0000gp/T/ipykernel_55197/3162268349.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_countries_df['is_main_country'].loc[~condition] = True

In [326]:
prod_countries_df.head(50)

   content_id country  is_main_country
0    ts300399      US             True
1     tm84618      US             True
2    tm127384      GB             True
3     tm70993      GB             True
4    tm190788      US             True
5     ts22164      GB             True
6     tm14873      US             True
7    tm185072      US             True
8     tm98978      US             True
9    tm119281      US             True
10    tm67378      US             True
11    tm44204      US             True
11    tm44204      GB            False
12    tm69778      JP             True
13    tm69997      US             True
14    tm96649      US             True
15    tm16479      US             True
16   tm135083      EG             True
17    tm14491      US             True
18    tm89386      DE             True
19   tm156453      US             True
20    tm27298      EG             True
21   tm356209      IN             True
22   tm204541      EG             True
23    tm14350      EG             True
24   tm102287      EG             True
25    tm76557      EG             True
26    tm71909      IN             True
27    tm94651      IN             True
28    tm19608      EG             True
30    tm90896      DZ             True
30    tm90896      EG            False
31    tm75975      IN             True
32    tm97793      EG             True
33    tm85426      EG             True
34   tm188894      EG             True
35   tm107372      IN             True
36   tm200475      LB             True
37   tm259855      FR             True
37   tm259855      LB            False
37   tm259855      CA            False
38   tm259684      FR             True
38   tm259684      LB            False
38   tm259684      CA            False
39   tm344089      IN             True
40   tm358653      IN             True
41   tm100027      IN             True
41   tm100027      SU            False
42    tm10204      IN             True
43   tm403346      IN             True

## Splitting names in credits df:

In [327]:
credits_df.head()

,index,person_id,content_id,name,character,role
0,0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR
1,1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR
2,2,7064,tm84618,Albert Brooks,Tom,ACTOR
3,3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR

In [328]:
def split_credits_names(credits_df):
    credits_df['name_obj'] = credits_df['name'].apply(lambda name: HumanName(name))
    credits_df['first_name'] = credits_df['name_obj'].apply(lambda name: name.first if name else None)
    credits_df['middle_name'] = credits_df['name_obj'].apply(lambda name: name.middle if name else None)
    credits_df['last_name'] = credits_df['name_obj'].apply(lambda name: name.last if name else None)
    credits_df['character'].fillna('NA', inplace=True)
    credits_df.drop(columns=['index', 'name', 'name_obj'], inplace=True)
    credits_df.drop_duplicates(inplace=True)
    return credits_df

credits_df = split_credits_names(credits_df)

In [329]:
credits_df.head(10)

,person_id,content_id,character,role,first_name,middle_name,last_name
0,3748,tm84618,Travis Bickle,ACTOR,Robert,,De Niro
1,14658,tm84618,Iris Steensma,ACTOR,Jodie,,Foster
2,7064,tm84618,Tom,ACTOR,Albert,,Brooks
3,3739,tm84618,Matthew 'Sport' Higgins,ACTOR,Harvey,,Keitel
4,48933,tm84618,Betsy,ACTOR,Cybill,,Shepherd
5,32267,tm84618,Wizard,ACTOR,Peter,,Boyle
6,519612,tm84618,Senator Charles Palantine,ACTOR,Leonard,,Harris
7,29068,tm84618,Concession Girl,ACTOR,Diahnne,,Abbott
8,519613,tm84618,Policeman at Rally,ACTOR,Gino,,Ardito
9,3308,tm84618,Passenger Watching Silhouette,ACTOR,Martin,,Scorsese

# Creating relational DB schema tables and loading data into them:

In [330]:
%%sql
DROP SCHEMA IF EXISTS relational CASCADE;
CREATE SCHEMA relational;

Running query in 'postgresql+psycopg2://postgres:***@localhost/recommender'

++
||
++
++

In [331]:
%%sql
DROP TABLE IF EXISTS titles CASCADE;
CREATE TABLE titles (
    content_id varchar(10) PRIMARY KEY,
    title varchar(200),
    content_type varchar(5) NOT NULL CHECK (content_type IN('movie', 'MOVIE', 'show', 'SHOW')),
    release_year smallint,
    age_certification varchar(10),
    runtime varchar(6),
    number_of_seasons smallint,
    imdb_id varchar(15),
    imdb_score real,
    imdb_votes bigint,
    is_year_best boolean,
    is_all_time_best boolean
);

Running query in 'postgresql+psycopg2://postgres:***@localhost/recommender'

++
||
++
++

In [332]:
title_df.to_sql('titles', engine, if_exists='append', index=False)

806

In [333]:
%%sql
DROP TABLE IF EXISTS genres CASCADE;
CREATE TABLE genres (
    content_id varchar(10) NOT NULL,
    FOREIGN KEY (content_id) REFERENCES titles(content_id),
    genre varchar(20),
    is_main_genre boolean,
    PRIMARY KEY (content_id, genre)
);

Running query in 'postgresql+psycopg2://postgres:***@localhost/recommender'

++
||
++
++

In [334]:
genres_df.to_sql('genres', engine, if_exists='append', index=False)

558

In [335]:
%%sql
DROP TABLE IF EXISTS prod_countries;
CREATE TABLE prod_countries (
    content_id varchar(10) NOT NULL,
    FOREIGN KEY (content_id) REFERENCES titles(content_id),
    country varchar(20),
    is_main_country boolean,
    PRIMARY KEY (content_id, country)
);

Running query in 'postgresql+psycopg2://postgres:***@localhost/recommender'

++
||
++
++

In [336]:
prod_countries_df.to_sql('prod_countries', engine, if_exists='append', index=False)

494

In [337]:
print(credits_df.astype(str).applymap(len).max())

person_id        7
content_id       9
character      298
role             8
first_name      22
middle_name     22
last_name       28
dtype: int64

In [338]:
%%sql
DROP TABLE IF EXISTS credits;
CREATE TABLE credits (
    content_id varchar(10) NOT NULL,
    FOREIGN KEY (content_id) REFERENCES titles(content_id),
    person_id VARCHAR(7),
    first_name varchar(35) NOT NULL,
    middle_name varchar(35),
    last_name varchar(40) NOT NULL,
    character varchar(400) NOT NULL,
    role varchar(15) NOT NULL,
    PRIMARY KEY (content_id, person_id, first_name, last_name, character, role)
);

Running query in 'postgresql+psycopg2://postgres:***@localhost/recommender'

++
||
++
++

In [339]:
credits_df.to_sql('credits', engine, if_exists='append', index=False)

213

# Creating additional relational tables to facilitate simulations by data scientists:

### This users table is dim table for the (coming up) sessions fact table. It is very basic for now, because we do not have a user information dataset right now. But we would want to fill this out with more demographic and preference data in the future.:

In [342]:
%%sql
DROP TABLE IF EXISTS users;
CREATE TABLE users (
    user_id int PRIMARY KEY,
    birth_date DATE,
    subscription_date DATE,
    subscription_type varchar(10) NOT NULL CHECK (subscription_type IN('basic', 'standard', 'premium'))
);

Running query in 'postgresql+psycopg2://postgres:***@localhost/recommender'

++
||
++
++

### This sessions table is the fact table for the sessions relational schema. The grain of this table is one session per user per show. Start time is an int, not a time

In [344]:
%%sql

DROP TABLE IF EXISTS sessions;
CREATE TABLE sessions (
    start_timestamp timestamp(0) NOT NULL,
    end_timestamp timestamp(0) NOT NULL,
    content_id VARCHAR(10) NOT NULL,
    FOREIGN KEY (content_id) REFERENCES titles(content_id),
    user_id int NOT NULL REFERENCES users(user_id),
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    user_rating int,
    PRIMARY KEY (start_timestamp, end_timestamp, content_id, user_id)
);

Running query in 'postgresql+psycopg2://postgres:***@localhost/recommender'

++
||
++
++

I insert some fabricated into sessions table: